@use '../abstracts' as *;

.container {
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 20px;

    @include respond-to('tablet') {
        padding: 0 16px;
    }

    @include respond-to('phone-sm') {
        padding: 0 12px;
    }
}
